@media (max-width:1200px) {
    .sidebar{
        position: fixed;
        left: 0;
        bottom: 0;
        top: 55px;
        width: 70px;
        z-index: 200;
        background-color: white;
        padding-top: 5px;
    }
    .sidebar-link{
        height: 76px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
    }
    .sidebar-link:hover{
        background-color: rgb(234, 234, 234);
    }
    .sidebar-link img{
        height: 25px;
        margin-bottom: 4px;
    }
    .sidebar-link div{
        font-size: 10px;
       
    }
    
}
@media (min-width:1200.1px) {
    .sidebar{
        position: fixed;
        left: 0;
        bottom: 0;
        top: 55px;
        width: 90px;
        z-index: 200;
        background-color: white;
        padding-top: 5px;
    }
    .sidebar-link{
        height: 76px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        cursor: pointer;
    }
    .sidebar-link:hover{
        background-color: rgb(234, 234, 234);
    }
    .sidebar-link img{
        height: 25px;
        margin-bottom: 4px;
    }
    .sidebar-link div{
        font-size: 10px;
        padding-left: 5px;
       
    }
    
}