.thumbnail{
    width: 100%;  
}
.vid_title{
    margin-top: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 10px;
}
.vid_author,
.vid_stats{
    font-size: 12px;
    color: rgb(96,96,96);
}
.vid_author{
    margin-bottom: 4px;
}
.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.pfp{
    width: 36px;
    border-radius: 25px;
}
.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
    z-index: 0;
}
.video-time{
position: absolute;
color: white;
background-color: black;
bottom:7px;
right: 5px;

font-size: 12px;
font-weight: 500;
padding: 2px;
border-radius: 2px;
}
.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}
@media (max-width:750px){
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width:751px) and (min-width:999px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width:1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media (width>1000px) {
    .vid_title{
        font-size: 16px;
        line-height: 24px;
    }
    .video-info{
        font-size: 14px;
    }
}
 .tooltip2{
    position: absolute;
    display: flex;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    bottom: -30px;
    left: 4px;
    font-family: Roboto;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
    width: 180px;
    opacity: 0;
    transition: opacity 0.2s;
    align-items: center;
    z-index: 300;
    pointer-events: none;
   
}

.channel-tooltip-picture {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-right: 8px;
  }
.channel-pfp:hover .tooltip2{
    opacity: 1;
}
.channel-pfp {
    position: relative;
    display: inline-block;
  }